
:root{
    --primary-color: #38effc;
    --secondary-color: #1106a8;
    --tertiary-color: #b2399e;
    --quaternary-color:white;
    }
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
  
  body {
      /*<Body> Color and Font */
      color: var(--tertiary-color);
      font-family: Calibri, Arial, sans-serif;
      width: 100%;    
      margin: 0;
      padding: 0;
      box-sizing: border-box;
        
    }

    /* apply styles to <header> */
  header {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
      z-index: 9999;
      width: 100%;
    }
  
    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: var(--primary-color);
      margin: 0;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    header a {
      text-decoration: none;
      color: var(--primary-color);
      display: inline;
    }
  
    header nav {
      margin: 7px 0;
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none; 
    }
  
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }

  footer {
    background: var(--primary-color)e138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
  }

  footer h2 {
    color:var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }

  footer div {
    line-height: 1.5;
    text-align: right;
  } 

  section{
    padding: 60px;
  }

  .flex-row {
    display: flex;
  }

  .section-title {
    width: 100%;
    color: var(--primary-color);
    padding-bottom: 50px;
    padding-right: 50px;
    text-align: center;
    flex-grow: 8;
  }
  
    /* Hero Style Start */
    .hero {
        background-image:  url(../images/swoopbackground.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        background-attachment: fixed;
        background-position: 80%;
        color: var(--quaternary-color);
      }

      .hero-cta {
        width: 35%;
        text-align: right;
        margin: 3.5%;
        font-size: 25px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    
      .hero h2{
        font-style: italic;
        font-size: 30px;
      }

      .biopic img{
        width: 40%;
        float: left;  
      }

     
    /* about me styling */

    .flex-container {
        display: flex;
        align-items: stretch;
        background-color: var(--primary-color);
        background-color: var(--secondary-color);
        color: var(--quaternary-color);
        text-align: center;
        font-size: 30px;
      }
           
      
      .biography {
        font-size: 15px;
        flex-grow: 1;
        text-align: left;
    }
    
    .side-bar{
        flex-grow: 10;
        color: var(--primary-color);
        padding-right: 10%;
        
     }

     /* current projects styling */

    .flex-container-projects a {
        text-decoration: none;
        color: var(--primary-color);
        display: inline;
      }
     .flex-container-projects {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        width: 90%;

      }
      
      /* flex child */
      .flex-item {
        width: 30%;
        border-radius: 14px;
        border: 4px solid #fb3e55;
        background-color: #393b4f;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
        background-size: cover;
        background-position: center;
        padding: 20px 0;
        min-height: 250px;
        display: flex;
        flex-direction: column;
      }
      
      /* for text area inside of flex item */
      .flex-item span {
        /* pushes element to bottom of flex item */
        margin-top: auto;
        width: 100%;
        background-color: #a8adba;
        color: #393b4f;
        padding: 10px 5px;
        text-align: center;
      }

      flex-row {
          flex-direction: colummn;
      }
      contact-info {

      }